In [1]:
import pandas  as pd
import   numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection   import train_test_split
import pickle
from sklearn.preprocessing import OneHotEncoder,StandardScaler,LabelEncoder
from sklearn.compose import ColumnTransformer

In [2]:
df =pd.read_csv('Churn_Modelling.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace =True)

In [5]:
X=df.drop(['EstimatedSalary'],axis=1)
y=df['EstimatedSalary']

In [6]:
num_features = X.select_dtypes(exclude="object").columns
onehot_columns=['Geography','Gender']
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer
numeric_transformer= StandardScaler()
oh_transformer=OneHotEncoder()
preprocessor= ColumnTransformer(
    [
        ("OneHotEncoder",oh_transformer,onehot_columns),
        ("StandardScaler",numeric_transformer,num_features)
    ],remainder='passthrough'
)

In [7]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.42,random_state=42)

In [8]:

X_train=preprocessor.fit_transform(X_train)
X_test=preprocessor.transform(X_test)

In [9]:
with open("preprocessorreg.pkl", "wb") as file:
    pickle.dump(preprocessor, file)

In [10]:
import tensorflow as tf

WARNING:tensorflow:From c:\Users\timex\Documents\data science2024\deep learning\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [11]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [12]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),##HL1 connected with input layer
    Dense(32,activation='relu'),##Hl2
    Dense(1)## output layer
])

###compile the model
model.compile(optimizer='adam',loss="mean_absolute_error",metrics=['mae'])

WARNING:tensorflow:From c:\Users\timex\Documents\data science2024\deep learning\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\timex\Documents\data science2024\deep learning\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [13]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                896

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 3009 (11.75 KB)
Trainable params: 3009 (11.75 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
## set up tensor board
log_dir="regressionlogs/fit/" +datetime.datetime.now().strftime("%Y%m%D-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)
##setup early stopping
earrly_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [16]:
history=model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=100,
                  callbacks=[tensorflow_callback,earrly_stopping_callback])

Epoch 1/100
WARNING:tensorflow:From c:\Users\timex\Documents\data science2024\deep learning\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\timex\Documents\data science2024\deep learning\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

182/182 [==============================] - 7s 17ms/step - loss: 101340.4219 - mae: 101340.4219 - val_loss: 98226.0312 - val_mae: 98226.0312
Epoch 2/100
182/182 [==============================] - 2s 8ms/step - loss: 100947.8047 - mae: 100947.8047 - val_loss: 97390.9375 - val_mae: 97390.9375
Epoch 3/100
182/182 [==============================] - 2s 10ms/step - loss: 99432.9688 - mae: 99432.9688 - val_loss: 95094.0234 - val_mae: 95094.0234
Epoch 4/100
182/182 [==============================] - 2s 11ms/step - loss: 96216.8516 - mae: 96216.8516 - val_loss: 90927.4922 - val_mae: 90927.4922
Epoch 5/100
182/182 [==============================] - 2s 9ms/step - loss: 91074.1328 - mae: 91074.1328 - val_loss: 84944.5000 - val_mae: 84944.5000
Epoch 6/100
182/182 [==============================] - 2s 10ms/step - loss: 84225.3516 - mae: 84225.3516 - val_loss: 77634.5078 - val_mae: 77634.5078
Epoch 7/100
182/182 [==============================] - 2s 10ms/step - loss: 76335.2109 - mae: 76335.2109 - val_loss: 69762.8125 - val_mae: 69762.8125
Epoch 8/100
182/182 [==============================] - 2s 13ms/step - loss: 68343.4844 - mae: 68343.4844 - val_loss: 62455.4922 - val_mae: 62455.4922
Epoch 9/100
182/182 [==============================] - 2s 13ms/step - loss: 61262.9141 - mae: 61262.9141 - val_loss: 56594.9492 - val_mae: 56594.9492
Epoch 10/100
182/182 [==============================] - 3s 18ms/step - loss: 56017.2539 - mae: 56017.2539 - val_loss: 52686.0391 - val_mae: 52686.0391
Epoch 11/100
182/182 [==============================] - 2s 10ms/step - loss: 52703.8281 - mae: 52703.8281 - val_loss: 50601.2969 - val_mae: 50601.2969
Epoch 12/100
182/182 [==============================] - 2s 9ms/step - loss: 50878.7188 - mae: 50878.7188 - val_loss: 49776.6484 - val_mae: 49776.6484
Epoch 13/100
182/182 [==============================] - 3s 14ms/step - loss: 50095.9844 - mae: 50095.9844 - val_loss: 49566.0859 - val_mae: 49566.0859
Epoch 14/100
182/182 [==============================] - 2s 12ms/step - loss: 49843.6133 - mae: 49843.6133 - val_loss: 49550.5781 - val_mae: 49550.5781
Epoch 15/100
182/182 [==============================] - 2s 13ms/step - loss: 49765.9102 - mae: 49765.9102 - val_loss: 49572.6016 - val_mae: 49572.6016
Epoch 16/100
182/182 [==============================] - 3s 15ms/step - loss: 49738.8203 - mae: 49738.8203 - val_loss: 49585.8789 - val_mae: 49585.8789
Epoch 17/100
182/182 [==============================] - 2s 11ms/step - loss: 49730.9844 - mae: 49730.9844 - val_loss: 49593.3672 - val_mae: 49593.3672
Epoch 18/100
182/182 [==============================] - 2s 13ms/step - loss: 49723.7148 - mae: 49723.7148 - val_loss: 49593.0664 - val_mae: 49593.0664
Epoch 19/100
182/182 [==============================] - 2s 11ms/step - loss: 49718.0703 - mae: 49718.0703 - val_loss: 49600.7812 - val_mae: 49600.7812
Epoch 20/100
182/182 [==============================] - 2s 13ms/step - loss: 49710.0039 - mae: 49710.0039 - val_loss: 49600.6055 - val_mae: 49600.6055
Epoch 21/100
182/182 [==============================] - 2s 10ms/step - loss: 49707.4102 - mae: 49707.4102 - val_loss: 49618.5547 - val_mae: 49618.5547
Epoch 22/100
182/182 [==============================] - 1s 8ms/step - loss: 49700.3047 - mae: 49700.3047 - val_loss: 49622.9688 - val_mae: 49622.9688
Epoch 23/100
182/182 [==============================] - 4s 20ms/step - loss: 49701.0430 - mae: 49701.0430 - val_loss: 49618.1562 - val_mae: 49618.1562
Epoch 24/100
182/182 [==============================] - 2s 9ms/step - loss: 49694.1250 - mae: 49694.1250 - val_loss: 49611.7148 - val_mae: 49611.7148

In [17]:
model.save('modelreg.h5')

c:\Users\timex\Documents\data science2024\deep learning\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [18]:
import tensorboard
%load_ext tensorboard

In [20]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 11172), started 0:00:12 ago. (Use '!kill 11172' to kill it.)

In [24]:
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'TEST MAE:{test_mae}')

132/132 [==============================] - 0s 3ms/step - loss: 49550.5781 - mae: 49550.5781
TEST MAE:49550.578125